@import "./single.scss";
@import "./for-lessons/lesson1.scss";
@import "./for-lessons/lesson2.scss";

.lessons-section{
    .short-describe{
        width: calc(70% - 20px);
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.lessons-content{
    width: calc(50% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    a{
        text-decoration: none;
    }
}

.lesson-container{
    width: calc(100% - 10px);
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    color: #000;
    .lesson-header{
        width: calc(90% - 20px);
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-family: "Oswald",sans-serif;
        font-size: 1.9em;
        z-index: 2;
    }
    .lesson-describe{
        font-family: "Lato",sans-serif;
        font-size: 1.2em;
        width: calc(80% - 20px);
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
    }
    .sub-particles{
        width: calc(50% - 30px);
        height: 200px;
        position: absolute;
        border-radius: 5px;
        z-index: 1;
    }
}

.single-lesson-container{
    .lesson-container{
        border: none;
        height: auto;
    }
    
}
@media screen and (max-width: 1000px){
    .lessons-content{
        width: calc(80% - 20px);
    }
    .lesson-container{
        .sub-particles{
            width: calc(80% - 30px);
        }
    }

}
@media screen and (max-width: 670px){
    .lesson-container{
        .lesson-header{
            font-size: 1.5em;
        }
        .lesson-describe{
            font-size: 1em;
        }
        .sub-particles{
            width: calc(82% - 30px);
        }
    }
}
@media screen and (max-width: 498px){
    .lessons-section{
        .short-describe{
            width: calc(90% - 20px);
        }
    }
    .lessons-content{
        margin-top: 10px;
        width: calc(90% - 20px);
    }
    .lesson-container{
        .lesson-header{
            font-size: 1.3em;
        }
        .lesson-describe{
            font-size: 0.9em;
        }
        .sub-particles{
            width: calc(90% - 30px);
        }
    } 
}