.about-polish{
    width: calc(90% - 20px);
    padding: 10px;
    margin-left: 3%;
    text-align: left;
    text-indent: 1em;
    font-size: 1.1em;
    margin-bottom: 40px;
}
.rs-play{
    width: 50px;
    height: 50px;
    font-size: 1.1em;
    font-family: "Oswald",sans-serif;
    border-radius: 10px !important;
    background: none !important;
    border: 1px solid black !important;
    transition: all 0.2s;
}
.rs-play:hover{
    border-radius: 50% !important;
}
@media screen and (max-width: 800px){
    .about-polish,.first-paragraph{
        font-size: 0.98em;
    }
}
@media screen and (max-width: 786px){
    .about-polish{
        text-align: center;
        text-indent: 0em;
    }
}
@media screen and (max-width: 458px){
    .about-polish,.first-paragraph{
        font-size: 0.8em;
        line-height: 2em;
    }
    .first-paragraph{
        font-size: 0.79em;
    }
}